<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Autonesiac</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./page.css">
  </head>
  <body>
    <div id="app">
      <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="#">Autonesiac</a>

        <div class="ml-auto form-inline my-2">
          <button class="btn btn-outline-success my-0" v-if="!isRunning && !isStarting" v-on:click="run()">
            Run
          </button>

          <button class="btn btn-outline-success my-0" v-if="!isRunning && isStarting" disabled>
            <div class="spinner-border spinner-border-sm"></div> Starting...
          </button>

          <button class="btn btn-outline-success my-0" v-if="isRunning && !isStopping" v-on:click="stop()">
            Stop Running
          </button>

          <button class="btn btn-outline-success my-0" v-if="isRunning && isStopping" disabled>
            <div class="spinner-border spinner-border-sm"></div> Stopping...
          </button>
        </div>
      </nav>
  
      <div class="container">

        <div class="alert" v-if="statusMessage" v-bind:class="['alert-' + statusType]">
          {{ statusMessage }}
        </div>

        <fieldset class="mb-3" v-if="isRunning">
          <legend>Actions</legend>

          <div class="row">
            <div class="col text-center">
              <button class="btn btn-info" v-on:click="toggleClick()">{{ cliEnv['ignore-click'] ? '☐' : '☑' }} Clicking</button>
            </div>
            <div class="col text-center">
              <button class="btn btn-info" v-on:click="callreplkey('u')">Dump Screen/State</button>
            </div>
            <div class="col text-center">
              <button class="btn btn-info" v-on:click="callreplkey('n')">Dump Options</button>
            </div>
          </div>

          <div class="row">
            <div class="col" v-for="(status, i) in state">
              <div class="card m-3">
                <div class="card-body">
                  <h5 class="card-title">Nox {{ i + 1 }} State</h5>

                  <p class="card-text">
                    {{ status.stateName }} 
                    <span v-bind:class="[
                      status.stateRepeats > cliEnv['app-kill-threshold'] - 20 ? 'text-danger' : '',
                      status.stateRepeats > cliEnv['app-kill-threshold'] - 100 ? 'text-warning' : '',
                    ]">({{ status.stateRepeats }})</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="mb-3 pb-3" v-for="group in groups">
          <legend>{{ group.name }}</legend>

          <div class="row">
            <div class="col-6" v-for="field in group.fields">

              <div v-if="field.type === 'checkbox'" class="p-1">
                <input :id="field.val"  type="checkbox" @change="updateEnvValue(field)" v-model="cliEnv[field.val]" />
                <label :for="field.val" :title="field.desc">{{ field.name }}</label>
              </div>

              <div v-if="field.type === 'number'" class="p-1">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" :id="field.val" :title="field.desc">{{ field.name }}</span>
                  </div>
                  <input :id="field.val" :min="field.min" :max="field.max" type="number" class="form-control" placeholder="#" @change="updateEnvValue(field)" v-model="cliEnv[field.val]">
                </div>
              </div>

              <div v-if="field.type === 'text'" class="p-1">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" :id="field.val" :title="field.desc">{{ field.name }}</span>
                  </div>
                  <input :id="field.val" type="text" class="form-control" :placeholder="field.name" @change="updateEnvValue(field)" v-model="cliEnv[field.val]">
                </div>
              </div>

            </div>
          </div>
        </fieldset>

        <fieldset class="mb-3">
          <legend>Config Management</legend>

          <div class="row">
            <div class="col text-center">
              <button class="btn btn-primary" v-on:click="saveConfig()">Save Config</button>
            </div>
            <div class="col text-center">
              <button class="btn btn-primary" v-on:click="loadConfig()">Load Config</button>
            </div>
            <div class="col text-center">
              <button class="btn btn-danger" v-on:click="resetConfig()">Reset Config</button>
            </div>
          </div>
        </fieldset>

      </div>
    </div>

    <script type="text/javascript" src="./page.js"></script>
  </body>
</html>
